<div class="dashboard">
  <ng-template [ngIf]="userType == 'teacher'">
    <div class="container-rankings">
      <div class="teacher-rankings">
        <div class="rankings-list">
          <h1 class="rankings-header">Edit Rankings</h1>
          <div class="rankings-wrapper">
            <div class="ranking-wrapper" *ngFor="let ranking of rankingData">
              <input class="nameRanking"  value="{{ this.ranking['name'] }} " [(ngModel)]="rankingName"/>
              <input class="descRanking"  value="{{ this.ranking['description'] }}"  [(ngModel)]="rankingDesc"/>
              <input class="descRanking"  value="{{ this.ranking['code'] }}"  />
              <button (click)="updateRanking()"  class="botonSave">GUARDAR</button>
            </div>
          </div>
        </div>
      </div>
      <div class="section_button">
        <button class="add" (click)="go()">+</button>
      </div>
    </div>
  </ng-template>
</div>
<!--  -->