<div class="profile">
  <h1 class="header">Tu perfil</h1>
  <h2 class="subheader">Edita tu perfil y tu cuenta</h2>
  <section class="header-info user-image ">
    <h3>Imagen de perfil</h3>
    <div class="user-photo">

      <div class="container_image">
        <div class="container_image_profile">
          <label for="file-input">
            <div class="img_container">
              <img class="picture_profile" src="{{pic}}" />
              <div class="user_info">
                <p class="username">Usuario: {{username}}</p>
                <p class="username"> {{email}}</p>
                <p class="username"> Centro: {{centro}}</p>
                <div class="inputWrapper">
                  Seleccionar archivo <input class="fileInput" (change)="onFileChange($event)" type="file" />
                </div>
                <div class="inputWrapper ">
                  Guardar imagen <input class="fileInput" (click)="saveImage()" />
                </div>
                <div class="inputWrapper deletebutton">
                  Eliminar imagen <input class="fileInput" (click)="deleteimage()" />
                </div>
              </div>
            </div>
          </label>



        </div>
      </div>
    </div>
  </section>

  <section class="header-info user-info">
    <h3>Información de la cuenta</h3>


    <form>
      <div class="form_section">
        <div class="input_s">
          <label for="name">Nombre</label>
          <input type="text" value="{{this.name}}" name="name" [(ngModel)]="name">
        </div>
        <div class="input_s">
          <label for="lastname">Apellidos</label>
          <input type="text" value="{{this.lastname}}" name="lastname" [(ngModel)]="lastname">
        </div>
        <div class="input_s">
          <label for="email">Nick</label>
          <input type="text" value="{{this.username}}" maxlength="17" name="username" [(ngModel)]="username">
        </div>
        <div class="input_s">
          <label for="email">Email</label>
          <input type="email"  value="{{this.email}}" name="email"  [(ngModel)]="email">
        </div>
        <div class="input_s">
          <label for="email">Centro</label>
          <input type="text"  value="{{this.centro}}" name="center"  [(ngModel)]="centro">
        </div>
        <button class="inputWrapper" type="submit" (click)="submit()"> Guardar </button>
      </div>
    </form>




    <!-- [disabled]="!status" -->
  </section>
</div>