<div class="ranking-page">
  <ng-template [ngIf]="userType == 'teacher'">
    <div class="teacher-controls">
      <button
        class="open-options"
        class="btn open-options"
        (click)="appearOptions()"
      >
        Puntuar
      </button>
      <h1 class="teacher-controls-title">Añadir puntos alumno</h1>
      <div class="selected-user-wrapper">
        <h3 class="teacher">Alumno: {{ selectedUser }}</h3>
        <h3>Tarea: {{ selectedTask }}</h3>
      </div>
      <input
        type="number"
        [(ngModel)]="pointsAddedFromTeacher"
        placeholder="Cantidad puntos"
        max="10000"
      />
      <button class="btn" (click)="showPoints()">Añadir puntos</button>
    </div>
  </ng-template>
  <div class="ranking-headers">
    <div class="teacher-info">
      <h2 class="teacher-info-header">Profesor</h2>
      <h3 class="teacher-info-name">{{ teacherName }}</h3>
      <i class="teacher-info-icon" class="fa-solid fa-graduation-cap fa-2x"></i>
    </div>
    <div class="ranking-title-name">
      <h1 class="ranking-title">{{ rankingName }}</h1>
    </div>
    <div class="ranking-first-position">
      <i class="fa-solid fa-trophy fa-3x"></i>
      <h2 class="first-position-user">
        {{ rankingPositionsData[0]["nick_name"] }}
      </h2>
    </div>
  </div>
  <div class="ranking-content">
    <div class="ranking-content-positions">
      <div class="ranking-content-positions-wrapper">
        <div
          class="data-row"
          *ngFor="let item of rankingPositionsData; let indexOfElement = index"
          [ngStyle]="loggedUserInRanking(item.id, indexOfElement)"
          (click)="selectUser(item.id, item.nick_name)"
        >
          <span class="position">{{ indexOfElement + 1 }}</span>
          <div
            class="user-image"
            [ngStyle]="setUserImage(item.image, item.nick_name)"
          ></div>
          <p class="user-username">{{ item.nick_name }}</p>
          <p class="user-points">{{ item.points }}</p>
          <div class="badge-container-wrapper">
            <div
              class="badge-item responsability"
              [ngStyle]="
                setBadgeBackground('responsability', item.responsabilidad)
              "
            ></div>
            <div
              class="badge-item cooperation"
              [ngStyle]="setBadgeBackground('cooperation', item.cooperacion)"
            ></div>
            <div
              class="badge-item autonomy"
              [ngStyle]="
                setBadgeBackground('autonomy', item.autonomia_e_iniciativa)
              "
            ></div>
            <div
              class="badge-item emotional"
              [ngStyle]="
                setBadgeBackground('emotional', item.gestion_emocional)
              "
            ></div>
            <div
              class="badge-item thinking"
              [ngStyle]="
                setBadgeBackground('thinking', item.habilidades_de_pensamiento)
              "
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ranking-content-badges">
      <ng-template [ngIf]="userType == 'student'">
        <h2>Añadir puntos insignias</h2>
        <div class="select-user">
          {{ selectedUser }}
        </div>
        <div class="badges-wrapper">
          <div
            class="badge-container"
            id="badge-one"
            (click)="setBadge('responsability', 1)"
          >
            Responsabilidad
          </div>
          <div
            class="badge-container"
            id="badge-two"
            (click)="setBadge('cooperation', 2)"
          >
            Cooperación
          </div>
          <div
            class="badge-container"
            id="badge-three"
            (click)="setBadge('autonomy', 3)"
          >
            Autonomía e iniciativa
          </div>
          <div
            class="badge-container"
            id="badge-four"
            (click)="setBadge('gestion', 4)"
          >
            Gestión emocional
          </div>
          <div
            class="badge-container"
            id="badge-five"
            (click)="setBadge('habilidades', 5)"
          >
            Habilidades de pensamiento
          </div>
        </div>
        <div class="points-user">
          <h3>Puntos insignia</h3>
          <input
            type="number"
            value="{{ pointsGivenByStudent }}"
            style="text-align: center"
            [(ngModel)]="pointsGivenByStudent"
          />
          <input
            type="range"
            min="0"
            max="1000"
            [(ngModel)]="pointsGivenByStudent"
            (click)="printPoints()"
          />
        </div>
        <div class="submit">
          <button class="btn" (click)="addBadgePoints()">Enviar</button>
        </div>
      </ng-template>
      <ng-template [ngIf]="userType == 'teacher'">
        <div class="tag student-tag" (click)="showTasks()">Tareas</div>
        <div class="tag tasks-tag" (click)="showUsers()">Alumnos</div>
        <h2 class="options-header">{{ teacherOptionsMenuTitle }}</h2>
        <div class="options-wrapper">
          <div class="options-div accept-users">
            <div
              class="user-accepted"
              *ngFor="let user of unacceptedUsers; let indexOfUser = index"
            >
              <h4>{{ user.nick_name }}</h4>
              <button class="accept" (click)="acceptUser(user.id)">
                Aceptar
              </button>
              <button class="deny" (click)="rejectUser(user.id)">
                Rechazar
              </button>
            </div>
          </div>
          <div class="options-div mark-tasks">
            <div class="task-wrapper" *ngFor="let task of rankingTasks">
              <p>{{ task.task_name }}</p>
              <p>{{ task.description }}</p>
            </div>
            <div class="create-task task-wrapper">
              <p>Crear tarea</p>
            </div>
            <div class="create-task task-wrapper">
              <p>Ver historial</p>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
